<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact</title>
    <link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Clothes Warehouse</a>
    </div>
</nav>

<div class="container mt-5">
    <div class="card p-4">

        <h2 class="text-center mb-3">Contact Us</h2>

        <!-- MESSAGE -->
        <div th:if="${message}" class="alert alert-success text-center">
            <span th:text="${message}"></span>
        </div>

        <form method="POST" action="/contact">

            <input class="form-control mb-3" name="name" placeholder="Your Name" required>

            <input class="form-control mb-3" name="email" type="email" placeholder="Your Email" required>

            <input class="form-control mb-3" name="subject" placeholder="Subject" required>

            <textarea class="form-control mb-3" name="message" placeholder="Message" rows="4" required></textarea>

            <button class="btn btn-primary w-100">Send Message</button>

        </form>

    </div>
</div>

</body>
</html>